# Ignore all ...
*
# ... except directories ...
!*/
# ... and files with extensions.
!*.*

# Ignore exe- and pyc-files.
*.exe
*.pyc

# Ignore scoef-binaries
* scoef.*

# Ignore libraries
*.dll
*.dylib
*.so

# Ignore compressed archives
*.tar.gz
*.zip

# Ignore these directories
/sample_data
/Sample-data
/.idea
/.settings
.vscode
/__pycache__
/venv
*.bak
.gitignore
Pipfile.lock

# Ignore everything in external folder...
/external/*
/external/bin/*
# except for these
!/external/Makefile
!/external/submodules/
!/external/submodules/*
!/external/bin/
!/external/bin/jibal.conf

# Temporary QT Creator files
*.ui.autosave

.DS_Store

# Directories created by pyinstaller
/dist
/build

# Directories used for bundling Mac version
/tk
/tcl

# Ignore hypothesis folder (in case it will be used in the future)
.hypothesis
