[submodule "external/submodules/jibal"]
	path = external/submodules/jibal
	url = https://github.com/JYU-IBA/jibal.git
[submodule "external/submodules/mcerd"]
	path = external/submodules/mcerd
	url = https://github.com/JYU-IBA/mcerd.git
[submodule "external/submodules/erd_depth"]
	path = external/submodules/erd_depth
	url = https://github.com/JYU-IBA/erd_depth.git
[submodule "external/submodules/coinc"]
	path = external/submodules/coinc
	url = https://github.com/JYU-IBA/coinc
