# Ignore all ...
*
# ... except directories ...
!*/
# ... and files with extensions.
!*.*

# Ignore exe- and pyc-files.
*.exe
*.pyc

# Ignore scoef-binaries
* scoef.*

# Ignore these directories
/sample_data
/Sample-data
/.idea
/.settings
/__pycache__
/venv
*.bak
.gitignore
Pipfile.lock

# Ignore everything in external folder...
/external/*
/external/Potku-bin/*
# except for these
!/external/Makefile
!/external/submodules/
!/external/submodules/*
!/external/Potku-bin/
!/external/Potku-bin/jibal.conf

# Temporary QT Creator files
*.ui.autosave

/.DS_Store

# Directories created by pyinstaller
/dist
/build