[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.23, <2.0.0"
scipy = ">=1.8.1"
matplotlib = ">=3.9.0"
Shapely = ">=1.8.2"
wheel = ">=0.37.1"
reactivex = ">=4.0.2"
Pillow = ">=9.1.1"
hypothesis = ">=6.47.0"
requests = ">=2.31.0"
pyqt5 = "*"

[dev-packages]
pypiwin32 = { version = "*", markers = "sys_platform== 'win32'"}
pywin32 = { version = "*", markers = "sys_platform== 'win32'"}

[requires]
python_version = "3.12"
