[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
"PyQt5" = "*"
"pyqt5" = "==5.9.2"

[dev-packages]
PyInstaller = "*"
"pypiwin32" = "*"
"pywin32" = "*"

[requires]
python_version = "3.6"
