[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
"PyQt5" = "==5.9.2"
Shapely = "*"
wheel = "*"
rx = "*"

[dev-packages]
pypiwin32 = {sys_platform = "== 'win32'"}
pywin32 = {sys_platform = "== 'win32'"}

[requires]
python_version = "3.6"
